@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira Code", monospace;
}

:root {
  --inputTerminalHeight: 10vh;
  --outputsTerminalHeight: 90vh;
}

.main {
  background-color: #22262a;
  width: 100%;

  height: 100vh;
  max-height: 100vh;

  overflow: hidden;

  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;

  position: relative;
}

.main .container {
  width: 100%;

  max-height: 90vh;

  height: fit-content;

  position: relative;
}

.main .container .holdMsg {
  display: flex;
  flex-direction: column-reverse;

  /* height: 300px;
  max-height: 300px;
  min-width: 200px;
  width: 200px; */

  width: 100%;
  /* height: 100%; */

  max-height: var(--outputsTerminalHeight);

  border-radius: 5px;

  /* border: 1px solid #555c62; */

  padding: 10px;
  overflow-y: scroll;


  font-size: 13px;
}

.main .container .holdMsg::-webkit-scrollbar {
  display: none;
}

.main .container .holdMsg p.msg {
  padding: 2px;
  margin: 2px;
  min-width: 100px;

  color: rgb(0, 255, 64);
  border-radius: 12px;

  word-break: break-all;
}

.main .container .holdMsg p.msg .userContent {
  color: rgb(229, 230, 225);
}

.main .container .holdMsg p.ls {
  padding: 2px;
  margin: 2px 30px;
  min-width: 100px;

  color: rgb(177, 177, 177);
  border-radius: 12px;

  width: 100%;
  display: flex;
  justify-content: space-between;

  word-break: break-all;
}
.main .container .holdMsg p.go {
  padding: 5px;
  margin: 2px 20px;
  min-width: 100px;

  color: rgb(255, 0, 0);
  border-radius: 12px;

  width: 100%;
  display: flex;
  justify-content: space-between;

  word-break: break-all;
}
/* .main .holdMsg div.space {
  background-color: rebeccapurple;
  width: 100%;
  height: 75vh;
  min-height: 75vh;
} */

.main .container form {
  /* border: 1px solid #262a2e; */
  border-radius: 5px;

  width: fit-content;

  height: fit-content;
  max-height: fit-content;

  /* height: var(--inputTerminalHeight); */

  display: flex;
  align-items: flex-start;

  /* padding: 30px; */
  /* background-color: red; */
  width: 100%;

  /* background-color: darkblue; */
  top: 0;

  position: relative;
}

.main .container form p.user {
  color: #12ff42;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  position: absolute;

  font-size: 13px;
}

.main .container form .containerInput {
  position: relative;
  /* background-color: red; */
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  height: fit-content;
  max-height: fit-content;

  overflow: hidden;
  padding: 0 5px 0 0;

  top: 0;
  /* border: 1px solid red; */

  display: flex;
}

.main .container form .containerInput .caret {
  content: "";
  position: absolute;
  width: 17px;
  height: 3px;

  top: 17px;
  /* bottom: 5px; */
  left: 49px;

  background-color: #12ff42;
  z-index: 10;

  animation: blink 0.8s 0.9s infinite;

}



.main .container form .containerInput textarea {
  background-color: transparent;
  display: flex;

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  padding: 0 10px 0 50px;

  height: 23px;
  min-height: 23px;
  min-height: 100px;

  /* max-height: 23px; */
  /* max-height: auto; */

  font-size: 14px;

  cursor: default;

  /* background-color: #555c6273; */
  /* box-shadow: 0 0 9px #262a2e; */
  color: rgb(166, 166, 177);

  resize: none;

  border: none;
  border-radius: 5px;

  outline: none;
  position: relative;

  top: 0;
  caret-color: #22262a;
}

.main .container form .containerInput textarea::selection {
  background-color: rgb(94, 255, 0);color: #22262a;
}

.main .container form .containerInput textarea::-webkit-scrollbar {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

.main .container form button {
  display: none;
}
